body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(25,25,32);
    background: linear-gradient(0deg, rgba(25,25,32,1) 16%, rgba(3,17,101,1) 100%);
    color: white;
    padding: 80px;
    text-align: center;
}
#img_empresa {
    
    width:120px;
    padding-right: 30px;
    height: 120px;
    padding-top: 5px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}


.finance-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
    top: -60px; 
}

.card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px; 
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white; 
    border-radius: 0px; 
}

button:hover {
    background-color: #0056b3; 
}

.transactions {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

footer {
    background: rgb(25,25,32);
    background: linear-gradient(0deg, rgba(25,25,32,1) 16%, rgba(3,17,101,1) 100%);
    color: white;
    text-align: center;
    padding: 1em;
}

footer {
    background: rgb(25,25,32);
    background: linear-gradient(0deg, rgba(25,25,32,1) 16%, rgba(3,17,101,1) 100%);
    color: white;
    text-align: center;
    padding: 50px;
}

.imgs{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #0056b3;
    text-align: center;
}
h2 {
    color: #333;
    margin-top: 20px;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}
p {
    text-align: justify;
    margin-bottom: 15px;
}
ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;
}
ul li {
    margin-bottom: 10px;
}
.video {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
 
}
.videos h3 {
    text-align: center;
 
}
       
